@model List<ExclusiveMVC.Models.Order>

<h2>My Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Total</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerName</td>
                <td>@item.Phone</td>
                <td>@item.Address</td>
                <td>₹ @item.TotalAmount</td>
                <td>@item.OrderDate</td>
            </tr>
        }
    </tbody>
</table>